*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: cursive;
    background-image: url(backgroundday.jpg);
    background-size: cover;
    background-position: top center;
}
.weatherbody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15px 15px;
      
}
header input{
    width: 100%;
    max-width: 280px;
    outline: none;
    border: none;
    padding: 10px ;
    font-size: 20px; 
    transition: 0.2 ease-out;
    font-family:monospace;  
}

header a {
    color: white;
    padding-left: 8px;
    transition: .3s;
    border-radius: 50%;
}
main{
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.lo{
    color: white;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
}

.now .temp{
    color: white;
    font-size: 102px;
    font-weight: 1000;
    margin: 30px 0px;    
}
.now .weatherdescription{
    margin-bottom: 5px;
}
.now .hi-low{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.now .windandhumidity{
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.now .weatherdescription{
    color: white;
    font-size: 24px;
    font-weight: 500;
}